certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
comtypes==1.4.13
greenlet==3.2.4
idna==3.11
numpy==2.2.6
opencv-python==4.12.0.88
pillow==12.0.0
PyAudio==0.2.14
pycparser==2.23
pypiwin32==223
python-dotenv==1.2.1
pyttsx3==2.99
pywin32==311
reportlab==4.4.5
requests==2.32.5
scipy==1.16.3
sounddevice==0.5.3
SQLAlchemy==2.0.44
typing_extensions==4.15.0
urllib3==2.5.0
